<div class="ui big secondary menu">
  <i class="huge blue suitcase icon"></i>

  <% if current_user %>
    <%= link_to "Home", trips_path, class: "item" %>
    <div class="right menu">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"item" %>
    </div>
  <% end %>
</div>